.add-container {
  margin: 15px 0;
  width: 100%;
  padding: 10px;
}

.add-button {
  color: rgb(0, 153, 255);
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding:10px;
  transition: 0.2s ease-in;
  width: 10vw;
}

.add-button:hover {
  color: #fff;
  background: rgb(0, 153, 255);
}

.add-input {
  width: 30vw;
}

.add--input--field {
  background-color: white;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  width: 90%;
  min-height: 40px;
  padding: 10px;
}
