.layout-add {
  grid-area: add;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.layout-container {
  box-shadow: 0 1px 16px rgba(0 0 0 .4);
  border-radius: 16px ;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "add add" "list list";
  padding: 25px;
}

.layout-list {
  grid-area: list;
}
